In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [46]:
import pandas as pd
df=pd.read_csv('gdrive/My Drive/BBC News Train.csv')
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [47]:
cates=df.groupby('Category')
cates.ngroups
cates.size()

Category
business         336
entertainment    273
politics         274
sport            346
tech             261
dtype: int64

In [48]:
import string
df['Category']=df.Category.map({'business':1,'tech':2,'politics':3,'sport':4,'entertainment':5})
df

      ArticleId                                               Text  Category
0          1833  worldcom ex-boss launches defence lawyers defe...         1
1           154  german business confidence slides german busin...         1
2          1101  bbc poll indicates economic gloom citizens in ...         1
3          1976  lifestyle  governs mobile choice  faster  bett...         2
4           917  enron bosses in $168m payout eighteen former e...         1
...         ...                                                ...       ...
1485        857  double eviction from big brother model caprice...         5
1486        325  dj double act revamp chart show dj duo jk and ...         5
1487       1590  weak dollar hits reuters revenues at media gro...         1
1488       1587  apple ipod family expands market apple has exp...         2
1489        538  santy worm makes unwelcome visit thousands of ...         2

[1490 rows x 3 columns]

In [49]:
df['Text']=df.Text.map(lambda x: x.lower().translate(str.maketrans('','',string.punctuation)))
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom exboss launches defence lawyers defen...         1
1        154  german business confidence slides german busin...         1
2       1101  bbc poll indicates economic gloom citizens in ...         1
3       1976  lifestyle  governs mobile choice  faster  bett...         2
4        917  enron bosses in 168m payout eighteen former en...         1

In [50]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['Text'],df['Category'],random_state=1)

In [52]:
df.shape

(1490, 3)

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(stop_words='english')
train_data=count_vector.fit_transform(x_train)
test_data=count_vector.transform(x_test)

In [61]:
from sklearn.naive_bayes import MultinomialNB

bayes = MultinomialNB()
bayes.fit(train_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [63]:
y_predict=bayes.predict(test_data)
print(y_predict)

[2 3 1 1 5 1 1 3 3 3 4 5 4 2 5 4 5 2 5 4 4 4 2 3 3 2 3 1 5 3 1 2 5 2 2 4 1
 4 4 4 3 5 3 5 5 1 4 2 1 1 3 2 5 3 2 1 3 5 1 2 2 4 5 4 1 1 2 4 4 3 3 3 1 2
 2 3 4 1 5 5 4 4 3 3 2 3 4 2 5 2 4 1 2 5 4 4 3 4 1 1 1 4 3 2 1 5 4 4 5 2 2
 2 5 4 3 2 2 2 3 5 4 5 4 2 2 5 3 2 1 4 4 5 2 5 3 4 2 5 3 3 1 5 1 3 5 1 1 1
 3 5 5 1 3 4 1 3 2 4 4 4 2 1 5 4 1 2 5 5 2 3 4 1 3 2 5 4 4 4 4 4 5 1 1 4 3
 3 5 4 3 1 4 5 2 4 2 4 3 4 1 2 5 3 5 4 1 3 3 2 5 2 3 4 3 1 3 3 2 4 1 4 1 1
 4 1 4 2 1 2 1 1 5 4 2 1 2 1 5 2 1 5 3 3 4 1 4 2 4 2 1 3 2 1 5 4 5 5 1 5 1
 5 5 4 1 1 5 2 3 4 2 4 2 1 5 1 3 1 5 4 1 1 1 1 3 2 1 3 2 2 2 2 2 2 4 3 4 1
 1 4 2 3 3 3 4 4 3 4 2 5 1 3 4 2 3 1 1 1 2 1 1 2 5 1 3 5 5 1 3 2 2 1 3 4 5
 5 2 2 3 1 4 2 3 5 1 4 2 1 3 3 4 4 1 3 4 2 5 4 3 2 3 5 3 2 5 4 3 5 2 5 3 1
 3 3 2]

In [64]:
from sklearn.metrics import accuracy_score
print("AccuracyScore: ",accuracy_score(y_test,y_predict))

AccuracyScore:  0.9812332439678284

In [65]:
df1=pd.read_csv('gdrive/My Drive/BBC News Test.csv')
df1.head()

   ArticleId                                               Text
0       1018  qpr keeper day heads for preston queens park r...
1       1319  software watching while you work software that...
2       1138  d arcy injury adds to ireland woe gordon d arc...
3        459  india s reliance family feud heats up the ongo...
4       1020  boro suffer morrison injury blow middlesbrough...

In [67]:
testing_data=count_vector.transform(df1['Text'])
y1_predict=bayes.predict(testing_data)
y1_predict

array([4, 2, 4, 1, 4, 4, 3, 3, 5, 1, 1, 2, 3, 2, 5, 4, 3, 2, 5, 5, 1, 3,
       4, 1, 3, 4, 1, 4, 4, 1, 3, 2, 1, 1, 4, 4, 4, 1, 5, 5, 2, 3, 5, 2,
       4, 2, 5, 1, 3, 1, 3, 1, 1, 1, 2, 3, 2, 5, 4, 2, 4, 5, 2, 3, 1, 5,
       4, 2, 4, 4, 2, 4, 1, 3, 2, 4, 2, 2, 2, 5, 3, 4, 5, 5, 1, 5, 1, 5,
       1, 2, 3, 3, 4, 2, 4, 4, 4, 4, 4, 4, 3, 4, 3, 5, 1, 4, 3, 4, 3, 5,
       4, 1, 5, 4, 3, 4, 3, 4, 3, 1, 5, 1, 5, 5, 2, 4, 1, 5, 1, 5, 1, 3,
       3, 2, 1, 1, 3, 2, 5, 4, 1, 2, 4, 5, 3, 4, 4, 5, 5, 2, 1, 2, 3, 5,
       4, 4, 4, 4, 5, 2, 1, 2, 1, 2, 1, 2, 5, 2, 2, 3, 1, 3, 1, 1, 5, 3,
       2, 1, 1, 2, 4, 3, 4, 3, 2, 2, 3, 1, 3, 2, 3, 1, 5, 4, 2, 2, 1, 2,
       3, 1, 4, 3, 1, 5, 1, 1, 4, 2, 1, 4, 5, 5, 4, 5, 4, 2, 3, 5, 4, 5,
       4, 5, 3, 1, 2, 5, 1, 3, 1, 2, 1, 4, 3, 3, 3, 3, 4, 1, 3, 3, 4, 3,
       1, 4, 2, 1, 3, 1, 3, 1, 1, 4, 2, 3, 2, 2, 5, 2, 4, 4, 2, 4, 4, 4,
       5, 4, 3, 2, 2, 4, 1, 4, 1, 4, 5, 1, 1, 5, 3, 1, 4, 4, 2, 4, 4, 5,
       1, 4, 2, 3, 5, 1, 1, 3, 4, 5, 3, 1, 4, 4, 2, 5, 4, 1, 2, 1, 4, 3,
       3, 5, 3, 5, 3, 1, 3, 2, 1, 4, 2, 5, 3, 4, 3, 3, 2, 3, 4, 2, 3, 2,
       2, 5, 1, 2, 3, 1, 3, 4, 2, 5, 5, 1, 4, 2, 2, 5, 2, 1, 4, 5, 2, 1,
       3, 2, 2, 3, 3, 4, 1, 2, 4, 3, 3, 1, 2, 4, 3, 1, 3, 3, 2, 5, 1, 1,
       4, 4, 4, 2, 2, 3, 2, 2, 3, 1, 4, 4, 5, 5, 4, 2, 2, 4, 2, 5, 3, 2,
       4, 1, 3, 5, 1, 2, 4, 3, 1, 1, 3, 2, 4, 5, 1, 2, 1, 2, 4, 4, 3, 1,
       2, 4, 3, 1, 2, 2, 3, 2, 1, 3, 1, 5, 1, 5, 3, 5, 4, 1, 3, 1, 4, 5,
       1, 5, 5, 4, 2, 5, 2, 1, 3, 5, 3, 3, 4, 1, 1, 3, 5, 5, 1, 1, 4, 3,
       2, 2, 3, 1, 4, 4, 3, 4, 2, 1, 3, 4, 3, 2, 1, 3, 2, 3, 3, 5, 2, 4,
       4, 3, 1, 2, 3, 4, 4, 5, 1, 5, 5, 1, 3, 4, 3, 2, 2, 1, 3, 4, 1, 4,
       1, 3, 1, 4, 3, 2, 4, 3, 1, 2, 3, 4, 3, 5, 4, 3, 1, 1, 1, 2, 3, 3,
       4, 1, 2, 2, 2, 4, 2, 3, 2, 1, 4, 2, 3, 1, 2, 2, 4, 2, 1, 4, 1, 1,
       1, 3, 3, 5, 5, 5, 3, 2, 2, 3, 5, 1, 4, 4, 3, 5, 3, 4, 1, 1, 1, 5,
       2, 4, 1, 3, 3, 2, 3, 4, 3, 1, 2, 1, 4, 4, 2, 4, 5, 2, 5, 2, 4, 3,
       1, 2, 3, 3, 5, 3, 1, 1, 2, 1, 1, 1, 4, 5, 1, 4, 1, 4, 2, 1, 3, 4,
       1, 4, 4, 5, 3, 2, 4, 1, 4, 1, 4, 4, 3, 2, 1, 2, 1, 4, 2, 1, 5, 1,
       5, 4, 2, 1, 1, 1, 3, 4, 5, 2, 1, 4, 5, 1, 5, 1, 3, 4, 4, 1, 2, 4,
       1, 1, 1, 2, 1, 5, 2, 4, 3, 2, 3, 2, 4, 2, 5, 1, 1, 3, 3, 4, 4, 4,
       5, 2, 3, 5, 4, 4, 3, 2, 3, 5, 4, 5, 4, 2, 2, 4, 4, 1, 2, 5, 1, 2,
       1, 1, 4, 5, 3, 5, 1, 3, 1, 3, 4, 2, 2, 3, 5, 1, 2, 5, 5, 3, 1, 1,
       3, 3, 2, 4, 1, 5, 3, 1, 3])

In [70]:
final_df=pd.DataFrame({'ArticleId':df1['ArticleId'],
                        'Category':y1_predict})
final_df.head()

   ArticleId  Category
0       1018         4
1       1319         2
2       1138         4
3        459         1
4       1020         4

In [71]:
final_df['Category']=final_df.Category.map({1:'business',2:'tech',3:'politics',4:'sport',5:'entertainment'} )
final_df.head()

   ArticleId  Category
0       1018     sport
1       1319      tech
2       1138     sport
3        459  business
4       1020     sport

In [72]:
final_df.to_csv('gdrive/My Drive/predictions.csv')
print("Saved")

Saved